#root {
  text-align: center;
  width: 100%;
}

@font-face {
  font-family: "FontsFree-Net-SF-Pro-Rounded-Regular";
  src: local("FontsFree-Net-SF-Pro-Rounded-Regular"),
  url("./assets/fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf") format("truetype");
}

.App {
  background-color: #334D80;
  font-family: 'Rubik', sans-serif;

  display: flex;
  justify-content: center;
}

.App-content{
  /* width: 1440px; */
}
